<!DOCTYPE html>
<html>
    <head>
        <title>Thanks for your review!</title>
    </head>
    <body>
        <h1>Thank you, {{name}}!</h1>
        <p>You gave a rating of: {{rating}} starts</p>
        <p>Your review: </p>
        <blockquote>{{review}}</blockquote>
    </body>
</html>